.input-section{
    /* background-color: rgba(218,52,34,255); */
    line-height: 40px;
    text-align: center;
}
.input-section input{
    width: 60%;
    height: 1.5rem;
    margin: 10px;
    border: 2px solid rgba(218,52,34,255);
    border-radius: 10px;
    
}
.meals-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.meal-section{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    
}
.meal-deatails{

}
