.meal-container{
    margin: 10px;
    width: 260px;
    height: 390px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.meal-container:hover{
    box-shadow: 2px 2px 10px rgba(155, 155, 155, 0.705);
}
.meal-container img{
    width: 100%;
    border-radius: 10px;
    
    
}
.meal-container h2{
    color: rgb(184, 0, 0);
    margin: 5px;
}
.meal-info{
    display: flex;
    justify-content: space-between;
}
.details-btn{
    width: 100%;
    background-color: rgb(184, 0, 0);
    color: white;
    font-size: 16px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}