.header{
    background-color: rgba(218,52,34,255);
    display: flex; 
    width: 100%;
   
}
.header img{
    width: 200px;
    margin-right: 50px;
    
}
.header nav{
    display: flex;
    align-items: center;
}

.header nav a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    color: white;
    padding: 5px;
}
.header nav a:hover{
    background-color: rgba(255, 99, 71, 0.746);
}